
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}


/* MENÚ SUPERIOR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 150px;
    background: #fff;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* 4 PUNTITOS */
.puntos {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: 
        radial-gradient(#ff6600 3px, transparent 3px),
        radial-gradient(#ff6600 3px, transparent 3px),
        radial-gradient(#ff6600 3px, transparent 3px),
        radial-gradient(#ff6600 3px, transparent 3px);
    background-size: 6px 6px;
    background-position: 0 0, 12px 0, 0 12px, 12px 12px;
    background-repeat: no-repeat;
}

/* Título y subtítulo */
.logo .titulo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.logo .subtitulo {
    font-size: 14px;
    color: #555;
    opacity: 0.9;
}

/* MENÚ */
.menu {
    display: flex;
    gap: 20px;
}

.menu li {
    list-style: none;
}

.menu li a {
    font-size: 15px;
    color: #1a1a1a;
    text-decoration: none;
    font-weight: 500;
}

.menu li a:hover {
    color: #0077b6;
}

/* SECCIÓN HERO */
.hero {
    height:100vh;
    background-image: url('Imagen/cb8a5c27-7050-4b8c-8554-518742f0ebbf.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 40px;
    padding-top: 60px;
}

.contenido-hero h1 {
    font-size: 50px;
    margin: 0;
    font-weight: bold;
}

.contenido-hero p {
    font-size: 20px;
    margin-top: 10px;
    opacity: 0.9;
}

.btn {
    display: inline-block;
    background: white;
    color: #333;
    padding: 12px 25px;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* FORMULARIO */

.form-section {
    padding: 40px 15px;
    background: #0d1b2a;
    color: white;
}

.formulario-horizontal {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 18px;
    background: #0d1b2a;
    padding: 30px;
    border-radius: 8px;
}

.campo {
    background: rgba(255, 255, 255, 0.08);
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255,255,255,0.15);
}

.campo label {
    font-size: 14px;
    margin-bottom: 4px;
    opacity: 0.9;
}

.campo input {
    padding: 4px;
    border-radius: 5px;
    border: none;
    background: white;
    font-size: 14px;
    width: 100%;
}

.checkboxes {
    grid-column: span 5;
    display: flex;
    gap: 25px;
    background: rgba(255, 255, 255, 0.08);
    padding: 12px;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.15);
}

.enviar {
    grid-column: 5 / 6;
    background: #c96b4b;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

